<nav class="navbar navbar-expand-lg navbar-white bg-white p-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Firebase_Logo.png" width="200px" class="img-fluid">
    <a class="navbar-brand" style="font-weight: bold;" href="#">AUTHENTICATION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-danger border border-white rounded bg-white" style="font-weight: bold;" href="#">HOME</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-danger border border-white rounded bg-white" style="font-weight: bold;" href="./login">SAIR</a>
            </li>
        </ul>
    </div>
</nav>

<div class="bg-danger">
    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-5 bg-dark text-white p-4 border border-danger rounded border-5 text-center">
                <h1>Olá, Usuário!</h1>
                <br>
                <h2>Seja bem-vindo!</h2>
                <br>
                <h2>Seu e-mail e senha foram autenticados pelo Firebase</h2>
                <br>
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Firebase_Logo.png" width="400px" class="img-fluid">
                <br>
            </div>
        </div>
    </div>    
</div>    
